@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic');

*{
	margin: 0;
	padding: 0;
}
body{
	position: relative;
	padding-top: 1px;
}
/*body:after{
	content: "";
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	background-image: url(img/k5.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	opacity: 0.5;
}*/



.main-block{
	color: #000000;
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	line-height: 1.4;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	margin: 23px auto;
	font-size: 18px;
}
.main-block *{
	box-sizing: border-box;
	-webkit-appearance: none;
	outline: none;
}
.main-block .fa{
	font-family: "FontAwesome"!important;
}
.center-main-block{
	max-width: 974px;
	padding: 0 10px;
    margin: auto;
}
.tickets-search_head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
	background-color: #33ccff;
    border-radius: 54px;
    border: 2px solid #0099cc;
}
.tickets-search-block{
	position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
	width: 150px;
    min-height: 42px;
    box-sizing: content-box;
}
.tickets-search-block:after{
	content: "";
	display: inline-block;
	position: absolute;
	top: 53%;
	right: 22px;
	width: 0;
	height: 0;
	border-top: 12px solid #acacac;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 0;
	transform: translateY(-50%);
	transition: all 0.2s ease-in-out;
}
.tickets-search-block:hover:after{
	border-top-color: #33ccff;
}
.tickets-search-block_submit{
	min-height: 42px;
    padding: 9px 19px;
	background-color: #00cc00;
	color: #ffffff;
	font-weight: 600;
    line-height: 1;
	text-align: center;
	text-transform: uppercase;
    border-radius: 24px;
    border: 2px solid #d0d0d0;
    box-sizing: border-box;
	cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.tickets-search-block_submit:hover{
	background-color: #00aa00;
}
.tickets-search-block_submit:after{
	display: none;
}
.tickets-search-block_submit_item{
	width: 100%;
}
.tickets-search-block_item{
	display: flex;
    align-items: center;
	width: 100%;
	height: 42px;
    padding: 5px 38px 5px 19px;
    background-color: #ffffff;
    line-height: 1;
    border: 2px solid #d0d0d0;
    border-radius: 24px;
    overflow: hidden;
}
.tickets-search-block_name{
	font-size: 16px;
	text-align: center;
}
.tickets-search-block_name:after{
	display: none;
}
.tickets-search-block_date{
	font-size: 14px;
}
.tickets-search-block_date:after{
	display: none;
}
.tickets-search-block_date:before{
	content: "31";
	position: absolute;
    top: 27%;
	right: 10px;
    width: 28px;
    height: 21px;
    z-index: 100;
	background-image: url(img/date.png);
	background-position: center;
	background-repeat: no-repeat;
	color: #ffffff;
	line-height: 1.7;
	text-align: center;
	border: none;
}
.tickets-search-block_date_item{
	padding: 4px 5px 4px 19px;
	background-color: #ffffff;
	font-size: 13px;
	outline: none;
	border: none;
}



.events-block{
	margin: 14px auto 28px;
	padding: 30px 23px 28px;
	border-radius: 29px;
	border: 2px solid #3eb5f1;
}
.events-header{
	display: flex;
	align-items: center;
	margin-top: 15px;
}
.events-header_title{
	color: #33ccff;
	font-size: 22px;
	font-weight: 700;
}
.events-search-block{
	position: relative;
	margin: 0 15px;
	padding: 5px 34px 5px 10px;
	border-radius: 24px;
	border: 2px solid #d0d0d0;
}
.events-search-block:after{
	content: "";
	display: inline-block;
	position: absolute;
	top: 53%;
	right: 7px;
	width: 0;
	height: 0;
	border-top: 8px solid #acacac;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 0;
	transform: translateY(-50%);
	transition: all 0.2s ease-in-out;
}
.events-search-block:hover:after{
	border-top-color: #33ccff;
}
.events-search-block_item{}
.events-toggle-block{
	display: flex;
}
.events-toggle-block_left,
.events-toggle-block_right{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 44px;
	padding: 6px 6px 4px 10px;
	background-color: #ffffff;
    border-top-left-radius: 26px;
    border-bottom-left-radius: 26px;
	border: 2px solid #669966;
	cursor: pointer;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
	transition: all 0.2s ease-in-out;
}
.events-toggle-block_right{
	padding: 7px 10px 4px 6px;
	left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 26px;
    border-bottom-right-radius: 26px;
}
.events-toggle-block_left.active,
.events-toggle-block_right.active,
.events-toggle-block_left:hover,
.events-toggle-block_right:hover{
	background-color: #00cc00;
}
.events-toggle-block_square{
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-left: 2px;
	margin-bottom: 2px;
	background-color: #00cc00;
	transition: all 0.2s ease-in-out;
}
.events-toggle-block_punkt{
	width: 100%;
	display: flex;
	align-items: center;
	margin-bottom: 2px;
}
.events-toggle-block_punkt:before,
.events-toggle-block_punkt:after{
	content: "";
	background-color: #00cc00;
	transition: all 0.2s ease-in-out;

}
.events-toggle-block_punkt:before{
	height: 6px;
	min-width: 6px;
	margin-right: 2px;
}
.events-toggle-block_punkt:after{
	height: 2px;
	width: 100%;
}
.events-toggle-block_left:hover .events-toggle-block_square,
.events-toggle-block_right:hover .events-toggle-block_punkt:before,
.events-toggle-block_right:hover .events-toggle-block_punkt:after,
.events-toggle-block_left.active .events-toggle-block_square,
.events-toggle-block_right.active .events-toggle-block_punkt:before,
.events-toggle-block_right.active .events-toggle-block_punkt:after{
	background-color: #ffffff;
}


.events-body{
	margin-top: 10px;
	padding-top: 18px;
}
.events-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.events-box{
	display: flex;
	align-items: center;
	width: 100%;
	padding: 6px;
	margin-bottom: 15px;
	background-color: #33ccff;
	color: #ffffff;
	border-radius: 24px;
	border: 2px solid #0099cc;
	box-shadow: 4px 4px 1px rgba(0,0,0,0.2);
}
.events-image{
	width: 300px;
	height: 150px;
	min-width: 300px;
	margin-right: 15px;
	border-radius: 18px;
	overflow: hidden;
	box-shadow: 3px 3px 1px rgba(255,255,255,0.3);
}
.events-image img{
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	object-position: center;
	object-fit: cover;
}
.events-text{
	width: 100%;
	padding: 0;
	font-weight: 600;
}
.events-text_price{
	display: inline-block;
	padding: 3px 12px;
	margin: 0 10px 4px 4px;
	background-color: #ffffff;
	color: #000000;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	border-radius: 34px;
	float: right;
}
.events-text_title{
    margin: 0 0 3px;
    font-size: 22px;
    font-weight: 700;
	line-height: 1;
	text-decoration: underline;
}

.events-box-square{
	justify-content: space-between;
}
.events-box-square .events-box{
	width: calc(50% - 10px);
	flex-wrap: wrap;
	align-content: flex-start;
}
.events-box-square .events-image{
	width: 100%;
	height: 245px;
	margin-right: 0;
	margin-bottom: 8px;
}
.events-box-square .events-text{
	display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.events-box-square .events-text_price{
	margin: 4px 0 0;
	float: none;
	order: 16;
}
.events-box-square .events-text_title{
	width: 100%;
	order: 4;
}
.events-box-square .events-text_text{
	width: 100%;
	order: 8;
}
.events-box-square .events-text_date{
	width: 100%;
	order: 12;
}


.paginator-block{
	margin-top: 25px;
	color: #cccccc;
	font-size: 19px;
	font-weight: 600;
	line-height: 1.3;
	text-align: center;
}
.paginator-box{}
.paginator-box_item{
	display: inline-block;
	margin: 0 3.5px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.paginator-box_item.fa{
	font-size: 1.1em;
}
.paginator-box_item.active,
.paginator-box_item:hover{
	color: #33ccff;
}



.search-block{
	position: absolute;
	top: -200%;
	z-index: 200;
	width: 100%;
	max-width: 550px;
	margin-left: 6px;
	padding: 10px;
	background-color: #ffffff;
	opacity: 0;
	border-radius: 4px;
	border: 2px solid #d0d0d0;
	box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
	transition: top 1s ease-in-out, opacity 0.4s ease-in-out;
}
.search-block.active{
	top: 75px;
	opacity: 1;
}
.search-block_header{
	margin-bottom: 4px;
}
.search-block_header input{
	width: 100%;
	max-width: 300px;
	padding: 10px;
	color: #000000;
	font-size: 18px;
	line-height: 1;
	border-radius: 4px;
	border: 2px solid #d0d0d0;
}
.search-block_header input::-webkit-input-placeholder { font-size: 18px; font-weight: 300; color: #000000; }
.search-block_header input::-moz-placeholder          { font-size: 18px; font-weight: 300; color: #000000; } /* Firefox 19+ */
.search-block_header input:-moz-placeholder           { font-size: 18px; font-weight: 300; color: #000000; } /* Firefox 18- */
.search-block_header input:-ms-input-placeholder      { font-size: 18px; font-weight: 300; color: #000000; }
.search-block_body{
	height: 290px;
	padding: 0 3px;
	overflow-y: scroll;
	border-radius: 2px;
	border: 1px solid #d0d0d0;
}
.search-block_body_item{
	width: calc(100% + 6px);
	margin-left: -3px;
	padding: 10px;
	background-color: #ffffff;
	line-height: 1;
	border-bottom: 1px solid #d0d0d0;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.search-block_body_item:last-of-type{
	border-bottom: none;
}
.search-block_body_item.active,
.search-block_body_item:hover{
	background-color: #00cc00;
	color: #ffffff;
}
.search-block_bottom{
	display: flex;
	justify-content: flex-end;
	margin-top: 10px;
}
.search-block_bottom_item{
	min-width: 74px;
	margin-left: 5px;
	padding: 6px 4px;
	background-color: #ffffff;
	text-align: center;
	line-height: 1;
	border-radius: 2px;
	border: 1px solid #d0d0d0;
	box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.search-block_bottom_item:hover{
	box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}


.search-ticket-block{
	max-width: 250px;
	margin: auto;
}
.search-ticket-block_submit{
    padding: 8px 4px;
    margin-bottom: 8px;
	background-color: #00cc00;
	color: #ffffff;
	font-size: 14px;
	font-weight: 600;
    line-height: 1;
	text-align: center;
	text-transform: uppercase;
    border-radius: 24px;
    border: 2px solid #669966;
    box-sizing: border-box;
    box-shadow: 3px 3px 1px rgba(0,0,0,0.1);
	cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.search-ticket-block_submit:hover{
	background-color: #00aa00;
}
.search-ticket-block_input{
	position: relative;
}
.search-ticket-block_input:after{
	content: "31";
    position: absolute;
    top: 25%;
    right: 10px;
    width: 28px;
    height: 21px;
    z-index: 100;
    background-image: url(img/date.png);
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.8;
    text-align: center;
    border: none;
}
.search-ticket-block_input input{
    width: 100%;
    padding: 10px 40px 10px 8px;
    background-color: #ffffff;
    font-size: 14px;
    line-height: 1;
    border: 2px solid #d0d0d0;
    border-radius: 2px;
}



.ticket-buy-block{
	width: 100%;
	max-width: 950px;
	margin: 24px auto;
	padding: 22px 22px 12px;
	border-radius: 24px;
	border: 2px solid #3eb5f1;
}
.ticket-buy-block_head{
	display: flex;
    width: 100%;
    padding: 6px;
    margin-bottom: 10px;
    background-color: #33ccff;
    color: #ffffff;
    border-radius: 22px;
    border: 2px solid #0099cc;
    box-shadow: 4px 4px 1px rgba(0,0,0,0.2);
}
.ticket-buy-block_head_image{
	width: 420px;
    height: 240px;
    min-width: 420px;
    margin-right: 10px;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 3px 3px 1px rgba(255,255,255,0.3);
}
.ticket-buy-block_head_image img{
	display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    object-position: center;
    object-fit: cover;
}
.ticket-buy-block_head_description{
	position: relative;
	width: 100%;
	padding-bottom: 50px;
}
.ticket-buy-block_head_text{
	width: 100%;
    padding: 0;
    font-weight: 600;
}
.ticket-buy-block_head_text_title{
	margin: 0 0 3px;
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
    text-decoration: underline;
}
.ticket-buy-block_head_text_text{}
.ticket-buy-block_head_text_date{}
.ticket-buy-block_head_text_name{}
.ticket-buy-block_head_text_name strong{}
.ticket-buy-block_head_text_name span{}
.ticket-buy-block_head_master{
	margin: 20px 0 10px;
    padding: 2px 16px;
	background-color: #d0efff;
	color: #888888;
	font-size: 20px;
    border-radius: 9px;
}
.ticket-buy-block_head_master_title{
	display: inline-block;
	font-weight: bold;
}
.ticket-buy-block_head_master_links{
	position: relative;
	top: 4px;
	display: inline-flex;
	margin-left: 5px;
}
.ticket-buy-block_head_master_links a{
	display: inline-block;
	height: 24px;
	margin-left: 4px;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.ticket-buy-block_head_master_links a:hover{
	text-decoration: none;
	transform: scale(1.2);
}
.ticket-buy-block_head_master_links a img{
	height: 100%;
}
.ticket-buy-block_head_master_name{}
.ticket-buy-block_head_price{
	position: absolute;
    right: 0;
    bottom: 8px;
    z-index: 10;
	display: inline-block;
    padding: 3px 12px;
    background-color: #ffffff;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    border-radius: 34px;
    float: right;
}
.ticket-buy-block_body{
	color: #888888;
	font-size: 14px;
	line-height: 1.3;
}
.ticket-buy-block_body_title{
	color: #33ccff;
	font-size: 22px;
	font-weight: 700;
}
.ticket-buy-block_body_description{}
.ticket-buy-block_form{
	width: 100%;
	max-width: 470px;
	margin: 5px auto 70px;
	color: #000000;
	font-size: 16px;
	text-align: center;
}
.ticket-buy-block_form_title{
	color: #33ccff;
	font-size: 22px;
	font-weight: 700;
}
.ticket-buy-block_form_input{
    width: 100%;
    margin: 7px auto 0px;
    padding: 8px;
	font-size: 20px;
    text-align: center;
    outline: none;
    border-radius: 22px;
    border: 2px solid #d0d0d0;
}
.ticket-buy-block_form_checkbox{
	margin-top: 10px;
}
.ticket-buy-block_form_checkbox:before{
	content: "";
	position: relative;
	top: 5px;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 10px;
	border-radius: 4px;
	border: 2px solid #669966;
	/*background-image: url(img/icon/check.png);*/
	background-color: #ffffff;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}
.ticket-buy-block_form_checkbox.active:before{
	background-image: url(img/icon/check.png);
	background-color: transparent;
}
.ticket-buy-block_bottom{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 20px;
}
.ticket-buy-block_bottom_butt{
	display: inline-block;
    text-align: center;
    background-color: #d0efff;
    min-width: 196px;
    padding: 7px 23px;
    color: #888888;
    font-size: 18px;
    font-weight: 600;
    border-radius: 20px;
    border: 2px solid #0099cc;
    box-shadow: 3px 3px 1px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.ticket-buy-block_bottom_butt_no{}
.ticket-buy-block_bottom_butt_no:hover{
    background-color: #7ec4e8;
    color: #ffffff;
}
.ticket-buy-block_bottom_butt_ok{
	background-color: #00cc00;
	color: #ffffff;
	border: 2px solid #669966;
}
.ticket-buy-block_bottom_butt_ok:hover{
	background-color: #00aa00;
}


.ticket-buy-block-next{
	padding: 16px 22px 12px;
}
.ticket-buy-block-next_butt{
	margin: 0 0 15px 8px;
}
.ticket-buy-block-next_butt_item{
	display: inline-block;
    text-align: center;
	background-color: #00cc00;
    min-width: 196px;
    padding: 7px 19px;
	color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 20px;
	border: 2px solid #669966;
    box-shadow: 3px 3px 1px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.ticket-buy-block-next_butt_item:hover{
	background-color: #00aa00;
}
.ticket-buy-block-next .ticket-buy-block_head_description{
	padding-bottom: 0;
}
.ticket-buy-block-next .ticket-buy-block_head_price{
	position: static;
	margin-top: -20px;
}
.ticket-buy-block_head_text_name{
	margin-top: 20px;
    width: 100%;
	display: flex;
    justify-content: space-between;
}
.ticket-buy-block-next_body{
	color: #929292;
	font-size: 16px;
	line-height: 1.3;
}
.ticket-buy-block-next_body p{}
.ticket-buy-block-next_body a{
	font-weight: 600;
	color: #33ccff;
	text-decoration: none;
}
.ticket-buy-block-next_body a:hover{
	text-decoration: underline;
}
.ticket-buy-block-next_table{
	display: flex;
	margin-top: 28px;
    margin-bottom: 10px;
    background-color: #33ccff;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    border-radius: 10px;
    border: 2px solid #0099cc;
    box-shadow: 4px 4px 1px rgba(0,0,0,0.2);
}
.ticket-buy-block-next_table_column{
	border-left: 1px solid #0099cc;
}
.ticket-buy-block-next_table_row{}
.ticket-buy-block-next_table_row-title{
	min-height: 36px;
	padding: 9px 7px;
	font-size: 18px;
	font-weight: bold;
}
.ticket-buy-block-next_table_row-item{
	min-height: 31px;
	padding: 7px 7px;
	border-top: 1px solid #0099cc;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.ticket-buy-block-next_table_column:nth-of-type(1){
	border-left: none;
}
.ticket-buy-block-next_table_column:nth-of-type(1) .ticket-buy-block-next_table_row-title,
.ticket-buy-block-next_table_column:nth-of-type(1) .ticket-buy-block-next_table_row-item{
	padding-left: 14px;
}
.ticket-buy-block-next_table_column-number{
	min-width: 190px;
}
.ticket-buy-block-next_table_column-type{
	min-width: 170px;
}
.ticket-buy-block-next_table_column-name{
	width: 100%;
	max-width: 280px;
}
.ticket-buy-block-next_table_column-price{
	min-width: 140px;
}
.ticket-buy-block-next_table_column-price .ticket-buy-block-next_table_row-item{
	color: #000000;
}
.ticket-buy-block-next_table_column-download{
	min-width: 120px;
	width: 120px;
	font-size: 12px;
	text-align: center;
}
.ticket-buy-block-next_table_column-download .ticket-buy-block-next_table_row-item{
	padding: 2px 5px 2px 2px;
	white-space: inherit;
}
.ticket-buy-block-next_table_column-download a{
	display: flex;
	color: #ffffff;
	text-decoration: none;
}
.ticket-buy-block-next_table_column-download a:hover{
	text-decoration: none;
}
.ticket-buy-block-next_table_column-download a:after{
	content: "";
	display: inline-block;
	width: 21px;
	height: 21px;
	background-image: url(img/icon/download.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.ticket-buy-block-next_table_column-download a:hover:after{}





.ticket-error-block{
	position: relative;
	width: 100%;
    max-width: 950px;
    margin: 24px auto;
    padding: 6px;
    color: #888888;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border-radius: 24px;
    border: 2px solid #3eb5f1;
}
.ticket-error-block_butt{
	position: absolute;
	top: 6px;
	left: 6px;
	z-index: 10;
	display: inline-flex;
    align-items: center;
    background-color: #00cc00;
    padding: 7px 9px 7px 7px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 20px;
    border: 2px solid #669966;
    box-shadow: 3px 3px 1px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.ticket-error-block_butt:hover{
	background-color: #00aa00;
    text-decoration: none;
}
.ticket-error-block_butt:before{
	content: "";
	display: inline-block;
	margin-right: 7px;
	width: 27px;
	height: 27px;
	background-image: url(img/icon/left.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ticket-error-block_title{
	margin-bottom: 8px;
	color: #1c95ee;
    font-size: 24px;
    font-weight: bold;
	text-align: center;
	line-height: 1;
}
.ticket-error-block_img{
	margin-bottom: 5px;
}
.ticket-error-block_text{
	margin-bottom: 6px;
}






.ticket-calendar-block{
	width: 1014px;
	max-width: 1014px;
	margin: 24px auto;
	display: flex;
	flex-wrap: wrap;
	color: #888888;
	font-size: 11px;
	font-weight: 600;
}
.ticket-calendar-block_title{
	display: flex;
	width: 100%;
	text-align: center;
}
.ticket-calendar-block_title_item{
	width: calc(100% / 7);
	padding: 4px 8px;
	background-color: #33ccff;
	color: #ffffff;
	font-size: 14px;
	font-weight: 600;
	line-height: 1;
	border-top: 1px solid #0099cc;
	border-left: 1px solid #0099cc;
}
.ticket-calendar-block_title_item:first-of-type{
	border-top-left-radius: 20px;	
}
.ticket-calendar-block_title_item:last-of-type{
	border-top-right-radius: 20px;
	border-right: 1px solid #0099cc;	
}
.ticket-calendar-block_title_item{}
.ticket-calendar-block_day-empty{}
.ticket-calendar-block_day{
	width: calc(100% / 7);
}
.ticket-calendar-block_day:nth-of-type(7n+1){
	border-right: 1px solid #caf2ff;
}
.ticket-calendar-block_day_head{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 16px;
	background-color: #33ccff;
	color: #ffffff;
	font-size: 14px;
	font-weight: 600;
	line-height: 1;
	text-align: center;
	border-top: 1px solid #0099cc;
	border-left: 1px solid #0099cc;
	border-bottom: 1px solid #0099cc;
}
.ticket-calendar-block_day:nth-of-type(7n+1) .ticket-calendar-block_day_head{
	border-right: 1px solid #0099cc;
}
.ticket-calendar-block_day_body{
	width: 100%;
	min-height: 127px;
	margin-bottom: -1px;
	padding: 2px;
	border-left: 1px solid #caf2ff;
	border-bottom: 1px solid #caf2ff;
}
.ticket-calendar-block_day:nth-of-type(7n+1) .ticket-calendar-block_day_body,
.ticket-calendar-block_day:last-of-type .ticket-calendar-block_day_body{
	border-right: 1px solid #caf2ff;
}
.ticket-calendar-block_day_punkt{
	margin-top: 7px;
	margin-bottom: 7px;
}
.ticket-calendar-block_day_punkt_name{
	display: inline-block;
	width: calc(100% - 35px);
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.ticket-calendar-block_day_punkt_time{
	position: relative;
	top: -3px;
	display: inline-block;
	margin-left: 6px;
	color: #33ccff;
	font-weight: 400;
}




@media screen and (max-width: 1000px){
	.tickets-search_head{
		flex-wrap: wrap;
		padding: 6px 6px 0;
		border-radius: 30px;
	}
	.tickets-search-block{
		width: 32%;
		margin-bottom: 6px;
	}
	.ticket-buy-block_head_image{
		width: 300px;
		min-width: 300px;
		height: 100%;
	}
	.ticket-buy-block_head_master{
		font-size: 16px;
	}
	.ticket-buy-block_head_master_links a{
		height: 18px;
	}
	.ticket-buy-block-next_table{
		overflow-x: scroll;
	}
	.ticket-buy-block-next .ticket-buy-block_head_price{
		margin: 8px 0 0;
		float: none;
	}
	.ticket-buy-block_head_text_name{
		display: block;
	}
	.ticket-buy-block_head_text_name strong,
	.ticket-buy-block_head_text_name span{
		display: inline-block;
		width: 100%;
	}
	.ticket-error-block_butt{
		position: static;
		margin-bottom: 8px;
	}
	.ticket-calendar-block_title{
		display: none;
	}
	.ticket-calendar-block_day-empty{
		display: none;
	}
	.ticket-calendar-block_day{
		width: 50%;
		font-size: 16px;
	}
	.ticket-calendar-block_day_head{
		height: auto;
		padding: 3px;
		font-size: 20px;
	}
	.ticket-calendar-block_day_body{
		height: 100%;
		padding: 4px;
	}
	.ticket-calendar-block_day_punkt_name{
		width: calc(100% - 50px);
	}
	.ticket-calendar-block_day:nth-of-type(7n+1) .ticket-calendar-block_day_body,
	.ticket-calendar-block_day:last-of-type .ticket-calendar-block_day_body,
	.ticket-calendar-block_day:nth-of-type(7n+1),
	.ticket-calendar-block_day:nth-of-type(7n+1) .ticket-calendar-block_day_head{
		border-right: none;
	}
}
@media screen and (max-width: 700px){
	.tickets-search-block{
		width: 49%;
		margin-bottom: 6px;
	}
	.events-block{
		padding: 10px;
	}
	.events-header{
		display: block;
		margin-top: 5px;
	}
	.events-search-block{
		margin: 10px 0 0;
	}
	.events-toggle-block{
		display: none;
	}
	.events-container{
		display: block;
	}
	.events-box{
		flex-wrap: wrap;
	}
	.events-image{
		width: 100%;
		height: 70%;
		min-width: 0;
    	margin: 0 0 10px;
	}
	.events-text{
		display: flex;
		flex-direction: column;
	}
	.events-text_price{
		width: 100%;
		order: 16;
		margin: 8px 0 0;
	}
	.events-text_title{
		width: 100%;
		order: 4;
	}
	.events-text_text{
		width: 100%;
		order: 8;
	}
	.events-text_date{
		width: 100%;
		order: 12;
	}
	.search-block{
		left: 0;
		margin: 0;
	}
	.search-block.active{
		top: 0;
	}
	.ticket-buy-block{
		padding: 8px 8px 12px;
	}
	.ticket-buy-block_head{
		flex-wrap: wrap;
	}
	.ticket-buy-block_head_image{
		width: 100%;
	    min-width: 0;
	    margin: 0 0 10px;
	}
	.ticket-buy-block_form{
		margin: 10px auto 30px;
	}
	.ticket-buy-block_bottom_butt{
		width: 100%;
	    margin-top: 12px;
	    padding: 7px 12px;
	}
}
@media screen and (max-width: 400px){
	.tickets-search-block{
		width: 100%;
	}
}